<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="width:100%; display:flex; align-items:center; justify-content:center; flex-direction:column; font-family:Calibri; text-aligin-center;">

  <p style="color: #000000; font-size:24px; width:100%; text-align:center;">Hey, {{ username }}!</p>

  <p style="color: #000000; font-size:20px; width:100%; text-align:center; margin-top:5px;">Your Account Is Being Logged In</p>
  
  <p style="color: #000000; font-size:20px; width:100%; text-align:center; margin-top:5px;">If Its You Please Enter Your Restricted Password</p>
  
  <p style="color: #000000; font-size:20px; width:100%; text-align:center; margin-top:5px;">Otherwise You Cannot Login</p>

</body>
</html>